.section__cart {
    background-color: #f8e6f8;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.cart {
    &__container {
        display: flex;
        flex-direction: column;
        width: 1100px;
        background-color: white;
        height: fit-content;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        margin: 3rem;
        border-radius: 3px;
        @media screen and (max-width: 1100px) {   
            margin: 3rem 10px;
        }
    }

}
.emptyCart{
    &__container{
        margin: 3rem;
        padding: 3rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        background-color: #9d13ff2f;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    }
    &__btn {
        border: none;
        margin-top: 5px;
        padding: 7px;
        border-radius: 5px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        background-color: #9d13ff2f;
        font-size: 16px;
        font-weight: 500;
    }
}