.section__cart {
    background-color: #f8e6f8;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.cart {
    &__container {
        display: flex;
        flex-direction: column;
        width: 1100px;
        background-color: white;
        height: fit-content;
        box-shadow:0 1px 2px 0 rgba(0, 0, 0,  0.3);
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    &__div{
        border-bottom: 1px rgb(202, 202, 202) solid;
        &__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem;
            &__texto{
                margin-top: 5px;
            }
            &__botones{
                display: flex;
                gap: 1rem;
            }
            &__btn{
                border: none;
                margin-top: 5px;
                padding: 7px;
                border-radius: 5px;
                box-shadow:0 1px 2px 0 rgba(0, 0, 0,  0.3);
                background-color: #9d13ff2f;
                font-size: 16px;
                font-weight: 500;
                &:hover{
                    transform: scale(1.1, 1.1);
                    border: 0.5px rgb(202, 202, 202) solid;
                }
                &__logo{
                    font-size: 22px
                }
                &-vaciar{
                    @extend .cart__div__footer__btn;
                    background-color: rgba(255, 0, 0, 0.596);
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    
                }
            }
        }
        &__productos{
            margin: 1rem;
            &__container{
                display: flex;
                flex-direction: row;
                align-items: center;
                border-bottom: 0.5px rgb(202, 202, 202) solid;;
                padding-bottom: 1rem;
            }
            &__imgYtitulo{
                display: flex;
                gap: 1rem;
                align-items: center;
                flex-direction: row;
                width: 60%;
            }
            &__img{
                width: 152px;
                height: 152px;
                object-fit: contain;
            }
            &__precio{
                width: 15%;
                text-align: center;
            }
            &__cantidad{
                width: 25%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                gap: 3rem;
                &__logo{
                    font-size: 25px;
                }
                &__btn{
                    background: none;
                    border: none;
                }
            }
        }
    }
    &__list{
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 1rem;
        width: 100%;
        background-color: #9d13ff2f;
        &__producto{
            width: 60%;
        }
        &__precio{
            width: 15%;
            text-align: center;
        }
        &__cantidad{
            width: 25%;
            text-align: center;
        }
    }
}