.link {
    text-decoration: none;
    color: black;
}

.itemCard {
    background-color: #EDD4FF;
    width: 18rem;
    height: 450px;
    box-shadow: 0px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

    @media screen and (max-width: 960px) {
        width: 200px;
        height: 390px;
    }
    @media screen and (max-width: 500px) {
        height: 130px;
        width: 300px;
        flex-direction: row;
    }



    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
        padding: 0 5px;
        width: 100%;
        @media screen and (max-width: 500px) {
            height: auto;
        }

        &__titulo {
            margin: 1rem 0;
            font-size: 1.5rem;
            @media screen and(max-width: 960px) {
                font-size: 1.5rem/2;
            }
            @media screen and (max-width: 500px) {
                font-size: 1rem;
            }
        }
        &__texto{
            @media screen and(max-width: 960px){
                & h6{
                    display: none;
                }
            }
        }
    }

    &__img {
        background-color: #ffff;
        margin: 0.5rem;
        border-radius: 5px;
        width: 200px;
        min-height: 250px;
        object-fit: cover;
        @media screen and(max-width: 960px) {
            width: 130px;
            object-fit: contain;
        }
        @media screen and (max-width: 500px) {
            width: 84.57px;
            height: 120px;
            min-height: 10px;
            object-fit: contain;
            
        }
    }
}