.cart__div {

    &__productos {
        margin: 1rem;

        &__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 0.5px rgb(202, 202, 202) solid;
            ;
            padding-bottom: 1rem;
        }

        &__imgYtitulo {
            display: flex;
            gap: 1rem;
            align-items: center;
            flex-direction: row;
            width: 60%;
        }

        &__img {
            width: 152px;
            height: 152px;
            object-fit: contain;
        }

        &__precio {
            width: 15%;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 1rem;
            align-items: center;
        }

        &__cantidad {
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            gap: 3rem;

            &__logo {
                font-size: 25px;
                
                &:hover {
                    transform: scale(1.15, 1.15);
                }
            }
            
            &__btn {
                background: none;
                border: none;
                &--max{
                    @extend .cart__div__productos__cantidad__btn;
                    color: rgba(255, 0, 0, 0.596);
                    pointer-events: none;
                }
                &--thrash{
                    @extend .cart__div__productos__cantidad__btn;
                    color: rgba(255, 0, 0, 0.596);
                }
            }
        }
    }
}