.item__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 2rem;
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
    background-color: #f8e6f8;
}